# Python
__pycache__/
*.pyc
.venv/

# Logs
logs/

# Outputs
outputs/*
!outputs/.gitkeep
!outputs/clinical_reports/
outputs/clinical_reports/*
!outputs/clinical_reports/.gitkeep
!outputs/temp_uploads/
outputs/temp_uploads/*
!outputs/temp_uploads/.gitkeep

# Trained models
*.pth
!models/classification/efficientnet_b0_brain_tumor.pth
!models/brain_tumor_unext/model.pth

# VS Code
.vscode/

# Avatar Uploads
dashboard/uploads/avatars/*
!dashboard/uploads/avatars/test-patient-uuid.png

# Local Configurations
.env

# Dynamic MRI Uploads
uploads/