# Python
__pycache__/
*.pyc
.venv/

# Logs
logs/

# Outputs
outputs/

# Trained models
*.pth

# VS Code
.vscode/

# Avatar Uploads
dashboard/uploads/avatars/*
!dashboard/uploads/avatars/test-patient-uuid.png

# Local Configurations
.env