# Deep Learning and Imaging Core
torch>=2.0.0
torchvision
timm
albumentations
opencv-python-headless
pyyaml

# Data Processing & Visualization
pandas
matplotlib
reportlab

# REST API & Dashboard Servers
fastapi
uvicorn
pydantic
python-multipart
flask
qrcode>=8.0.0


# Client Interface
python-dotenv
pyngrok
cryptography>=41.0.0
